<h2>Users List</h2>
<ol>
    <li><a routerLink="/userdetail/1">User 1</a></li>
    <li><a routerLink="/userdetail/2">User 2</a></li>
    <li><a routerLink="/userdetail/3">User 3</a></li>
    <li><a routerLink="/userdetail/4">User 4</a></li>
</ol>
<br/>
<hr/>
<div class="card">
    <img src="/assets/images/img.png" class="card-img-top" alt="Citiustech">
    <div class="card-body">
      <h5 class="card-title">Prime</h5>
      <p class="card-text">The future of healthcare and life sciences will be patient and consumer centric, convergent and digitally driven, powered by next-gen technology, analytics and AI.</p>
      <a routerLink="/user/prime" class="btn btn-primary">Know More</a>
    </div>
  </div>
